<div style="padding: 20px">
  <h1>Animation Angular</h1>
  <button mat-raised-button color="accent" (click)="playNgAnimations(false)">Animer une fois</button>
  <button mat-raised-button color="accent" (click)="playNgAnimations(true)">Animer en boucle</button>
  <div [@shake]="first" class="square" style="background-color: red;"></div>

  <div [@bounce]="second" class="square" style="background-color: green;"></div>

  <div [@tada]="third" class="square" style="background-color: blue;"></div>
</div>
<div style="padding: 20px">
  <h1>Animation CSS</h1>
  <button mat-raised-button color="accent" (click)="rotateCube()">Faire tourner</button>
  <div [class.rotate-left]="rotate" class="square" style="background-color:orange;"></div>
</div>
